.App {
  min-height: 100vh;
  background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  caret-color: blueviolet;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.search-button {
  background: #9b90fc;
  border: none;
  padding: 10px 20px;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
  font-weight: 600;
}

.recipes {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}