.recipe {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: rgb(206, 206, 236);
    align-items: center;
    width: 40%;
}

.image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 20px;
}

